


    <h1 class="heading">Static website</h1>
    <ul>
      <li><a href="/api/auth-docs">Auth</a></li>
      <li><a href="/api/users-docs">Users</a></li>
      <li><a href="/api/connections-docs">Connections</a></li>
      <li><a href="/api/monitor-docs">Monitor</a></li>
    </ul>
    {{ message }}

